.container{
    background-color: black;
    position: relative;
    width: 800px;
    height: 500px;
    left: 100px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-size:100% 90%;
}
.container image{
    width: 100%;
}
.container .slider .movingSlider{
    position: absolute;
    cursor: pointer;
    bottom: 45px;
    width: 100%;
    height: 4px;
    left: -2px;
    fill: red;
    background-image: #ff4500;
    background-size:  0px;
}
input[type=range].movingSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
    border-radius: 1em;
    background: red;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-repeat: no-repeat;
}
.container .zoomIn{
    position: absolute;
    bottom: 10px;
    width: 25px;
    height: 25px;
    border: 2px dashed white;
    right: 10px;
    cursor: pointer;
}
.container .zoomMiddle{
    position: absolute;
    bottom: 15px;
    width: 25px;
    height: 15px;
    border: 2px solid white;
    right: 55px;
    cursor: pointer;
}
.container .zoomOut{
    position: absolute;
    bottom: 12px;
    width: 17px;
    height: 17px;
    border: 3px solid white;
    right: 100px;
    cursor: pointer;
}
.container .play{
    position: absolute;
    bottom: 15px;
    left: 16px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 13px solid white;
    cursor: pointer;
}
.container .pause{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    bottom: 14px;
    cursor: pointer;
    left:5px;
}
.container .pause .col1{
    position: relative;
    bottom: -10px;
    width: 6px;
    height: 18px;
    background-color: white;
    left: 18px;
    cursor: pointer;
}
.container .pause .col2{
    position: relative;
    bottom: 8px;
    width: 6px;
    height: 18px;
    background-color: white;
    left: 7px;
    cursor: pointer;
}
.container .replay{
    display: none;
    position: absolute;
    bottom: 12px;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 2px solid white;
    border-radius:50%;
    left: 10px;
    cursor: pointer;
}
.container .timer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    left: 50px;
    width: 20px;
    height: 20px;
    bottom: 33px;
}

.container .hover{
    position: absolute;
    bottom: 100px;
    width: 150px;
    height: 150px;
}
.container .hoverTimer{
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    display: none;
}

.container .images{
    position: absolute;
    width: 100%;
    height: 88%;
    display: none;
    cursor: pointer;
}

